$headerFooterBackgroundColor : #f5b041; //variables
$FontColor : #f4f6f7; //variables
$navbarBackgroundColor : #45b39d; //variables
$navbarHoverBackgroundColor : #afe6db; //variables
$sidebarBackgroundColor : #3498db; //variables
$contentBackgroundColor : #eaeded; //variables
$contentFontColor : #17202a; //variables
$contentFontSize : 15px + 2px; // Operetors and variables 


